<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Ui.Login"/>
      <class name="Ui.groupdemoclass"/>
      <class name="Ui.verifythetitle"/>
      <class name="Ui.softassetandhardassert"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
